{% load static %}
<!DOCTYPE html>
<html lang="zxx">

{% block head %}
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

 <!-- Bootstrap core CSS -->
        <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet">
        <!-- Slick Slider CSS -->
        <link href="{% static 'assets/css/slick-theme.css' %}" rel="stylesheet"/>
        <!-- ICONS CSS -->
        <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet">
		<!-- ICONS CSS -->
        <link href="{% static 'assets/css/animation.css' %}" rel="stylesheet">
        <!-- Pretty Photo CSS -->
        <link href="{% static 'assets/css/prettyPhoto.css' %}" rel="stylesheet">
		<!-- Custom Main StyleSheet CSS -->
        <link href="{% static 'assets/css/component.css' %}" rel="stylesheet">
		<!-- Pretty Photo CSS -->
        <link href="{% static 'assets/css/jquery.bxslider.css' %}" rel="stylesheet">
		<!-- Pretty Photo CSS -->
        <link href="{% static 'assets/css/style5.css' %}" rel="stylesheet">
		<!-- Pretty Photo CSS -->
        <link href="{% static 'assets/css/demo.css' %}" rel="stylesheet">
		<!-- Pretty Photo CSS -->
        <link href="{% static 'assets/css/fig-hover.css' %}" rel="stylesheet">
        <!-- Typography CSS -->
        <link href="{% static 'assets/css/typography.css' %}" rel="stylesheet">
        <!-- Custom Main StyleSheet CSS -->
        <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
		<!-- Custom Main StyleSheet CSS -->
        <link href="{% static 'assets/css/component.css' %}" rel="stylesheet">
		<!-- Custom Main StyleSheet CSS -->
        <link href="{% static 'assets/css/shotcode.css' %}" rel="stylesheet">
		<!-- Custom Main StyleSheet CSS -->
        <link href="{% static 'assets/css/svg-icon.css' %}" rel="stylesheet">
        <!-- Color CSS -->
        <link href="{% static 'assets/css/color.css' %}" rel="stylesheet">
        <!-- Responsive CSS -->
        <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet">

<title>{%block title %} {% endblock %}</title>
</head>
{% endblock %}

<body>
     <div class="wrapper">
{% block topbar_navbar %}
<header>
				<!--CITY TOP WRAP START-->
				<div class="city_top_wrap">
					<div class="container-fluid">
						<div class="city_top_logo">
							<figure>
								<h1><a href="#"><img src="" alt="LOGO"></a></h1>
							</figure>
						</div>
						<div class="city_top_news" >
							<span style="background-color:red;">City News</span>
							<div class="city-news-slider">
								<div>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry <i class="fa fa-star"></i></p>
								</div>
								<div>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry <i class="fa fa-star"></i></p>
								</div>
								<div>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry <i class="fa fa-star"></i></p>
								</div>
							</div>
						</div>
						<div class="city_top_social">
							<ul>
								<li style="border-color: "><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li style="border-color: "><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li style="border-color: "><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li style="border-color: "><a href="#"><i class="fa fa-youtube"></i></a></li>
								<li style="border-color: "><a href="#"><i class="fa fa-google"></i></a></li>
							</ul>
						</div>

					</div>
				</div>
				<!--CITY TOP WRAP END-->

				<!--CITY TOP NAVIGATION START-->
				<div class="city_top_navigation">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-9">
								<div class="navigation">
									<ul>
										<li><a href="#">Accueil</a></li>
										<li><a href="#">Services > </a>
											<ul class="child">
												<li><a href="#">Sous-services</a></li>
												<li><a href="#">Sous-services 02</a></li>
												<li><a href="#">Sous-service detail</a></li>
												<li><a href="#">Sous-service detail 02</a></li>
											</ul>
										</li>
										<li><a href="#">Effectifs > </a>
											<ul class="child">
												<li><a href="#">sous-menu</a></li>
												<li><a href="#">sous-menu 2</a></li>
												<li><a href="#">sous-menu 3</a></li>
												<li><a href="#">sous-menu 4</a></li>
												<li><a href="#">sous-menu 5</a></li>
												<li><a href="#">sous-menu 6 </a></li>
											</ul>
										</li>
										<li><a href="#">Affaire > </a>
											<ul class="child">
												<li><a href="#">sous-menu</a></li>
												<li><a href="#">sous-menu detail</a></li>
											</ul>
										</li>

										<li><a href="#">Pages > </a>
											<ul class="child">
												<li><a href="#">blog</a>
													<ul class="child">
														<li><a href="#">blog</a></li>
														<li><a href="#">blog liste</a></li>
														<li><a href="#">blog detail</a></li>
													</ul>
												</li>
												<li><a href="#">forum > </a>
													<ul class="child">
														<li><a href="#">forum</a></li>
														<li><a href="#">forum 01</a></li>
														<li><a href="#">forum detail</a></li>
													</ul>
												</li>
												<li><a href="#">projects > </a>
													<ul class="child">
														<li><a href="#">project</a></li>
														<li><a href="#">project 01</a></li>
														<li><a href="#">project detail</a></li>
													</ul>
												</li>

											</ul>
										</li>
										<li><a href="#">Evènements > </a>
											<ul class="child">
												<li><a href="#">Evènements</a>
													<ul class="child">
														<li><a href="#">Evènements</a></li>
														<li><a href="#">Evènements 01</a></li>
														<li><a href="#">Evènements 02</a></li>
														<li><a href="#">Evènements detail</a></li>
														<li><a href="#">Evènements listing</a></li>
													</ul>
												</li>

											</ul>
										</li>
										<li><a href="#">Contact</a></li>
									</ul>
								</div>
								<!--DL Menu Start-->
								<div id="kode-responsive-navigation" class="dl-menuwrapper">
									<button class="dl-trigger">Open Menu</button>
									<ul class="dl-menu">
										<li><a class="active" href="#">Home</a></li>
										<li class="menu-item kode-parent-menu"><a href="#">Services</a>
											<ul class="dl-submenu">
												<li><a href="#">Services</a></li>
												<li><a href="#">Services 02</a></li>
												<li><a href="#">Services detail</a></li>
												<li><a href="#">Services detail 02</a></li>
											</ul>
										</li>
										<li class="menu-item kode-parent-menu"><a href="#">Government</a>
											<ul class="dl-submenu">
											<li><a href="#">team</a></li>
											<li><a href="#">mayor</a></li>
											<li><a href="#">goverment</a></li>
											<li><a href="#">goverment grid</a></li>
											<li><a href="#">health department</a></li>
											<li><a href="#">health department 02 </a></li>
										</ul>
										</li>
										<li class="menu-item kode-parent-menu"><a href="#">business</a>
											<ul class="dl-submenu">
												<li><a href="#">business</a></li>
												<li><a href="#">business detail</a></li>
											</ul>
										</li>
										<li class="menu-item kode-parent-menu"><a href="#">Resident</a>
											<ul class="dl-submenu">
												<li><a href="#">Resident</a></li>
												<li><a href="#">Resident detail</a></li>
											</ul>
										</li>
										<li class="menu-item kode-parent-menu"><a href="#">feature</a>
											<ul class="dl-submenu">
												<li><a href="#">blog</a>
													<ul class="dl-submenu">
														<li><a href="#">blog</a></li>
														<li><a href="#">blog list</a></li>
														<li><a href="#">blog detail</a></li>
													</ul>
												</li>
												<li><a href="#">forum</a>
													<ul class="dl-submenu">
														<li><a href="#">forum</a></li>
														<li><a href="#">forum 01</a></li>
														<li><a href="#">forum detail</a></li>
													</ul>
												</li>
												<li><a href="#">project</a>
													<ul class="dl-submenu">
														<li><a href="#">project</a></li>
														<li><a href="#">project 01</a></li>
														<li><a href="#">project detail</a></li>
													</ul>
												</li>
												<li><a href="#">login</a></li>
												<li><a href="#">404 page</a></li>
												<li><a href="#">coming soon</a></li>
											</ul>
										</li>
										<li class="menu-item kode-parent-menu"><a href="#">New & Event</a>
											<ul class="dl-submenu">
												<li><a href="#">event</a>
													<ul class="dl-submenu">
														<li><a href="#">event</a></li>
														<li><a href="#">event 01</a></li>
														<li><a href="#">event 02</a></li>
														<li><a href="#">event detail</a></li>
														<li><a href="#">event listing</a></li>
													</ul>
												</li>
												<li><a href="#">news</a>
													<ul class="dl-submenu">
														<li><a href="#">news page</a></li>
														<li><a href="#">news post</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li><a href="#">Contact Us</a></li>
									</ul>
								</div>
								<!--DL Menu END-->
							</div>
							<div class="col-md-3">
								<div class="city_top_form">
									<div class="city_top_search">
										<input type="text" placeholder="Rechercher">
										<a href="#"><i class="fa fa-search"></i></a>
									</div>
									<a class="top_user" href="#"><i class="fa fa-user"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--CITY TOP NAVIGATION END-->

				<!--CITY TOP NAVIGATION START-->
				<div class="city_top_navigation hide">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-9">
								<div class="navigation">
									<ul>
										<li><a href="#">Home</a></li>
										<li><a href="#">Services</a>
											<ul class="child">
												<li><a href="#">Services</a></li>
												<li><a href="#">Services 02</a></li>
												<li><a href="#">Services detail</a></li>
												<li><a href="#">Services detail 02</a></li>
											</ul>
										</li>
										<li><a href="#">Government</a>
											<ul class="child">
												<li><a href="#">team</a></li>
												<li><a href="#">mayor</a></li>
												<li><a href="#">goverment</a></li>
												<li><a href="#">goverment grid</a></li>
												<li><a href="#">health department</a></li>
												<li><a href="#">health department 02 </a></li>
											</ul>
										</li>
										<li><a href="#">business</a>
											<ul class="child">
												<li><a href="#">business</a></li>
												<li><a href="#">business detail</a></li>
											</ul>
										</li>
										<li><a href="#">Resident</a>
											<ul class="child">
												<li><a href="#">Resident</a></li>
												<li><a href="#">Resident detail</a></li>
											</ul>
										</li>
										<li><a href="#">feature</a>
											<ul class="child">
												<li><a href="#">blog</a>
													<ul class="child">
														<li><a href="#">blog</a></li>
														<li><a href="#">blog list</a></li>
														<li><a href="#">blog detail</a></li>
													</ul>
												</li>
												<li><a href="#">forum</a>
													<ul class="child">
														<li><a href="#">forum</a></li>
														<li><a href="#">forum 01</a></li>
														<li><a href="#">forum detail</a></li>
													</ul>
												</li>
												<li><a href="#">project</a>
													<ul class="child">
														<li><a href="#">project</a></li>
														<li><a href="#">project 01</a></li>
														<li><a href="#">project detail</a></li>
													</ul>
												</li>
												<li><a href="#">login</a></li>
												<li><a href="#">404 page</a></li>
												<li><a href="#">coming soon</a></li>
											</ul>
										</li>
										<li><a href="#">New & Event</a>
											<ul class="child">
												<li><a href="#">event</a>
													<ul class="child">
														<li><a href="#">event</a></li>
														<li><a href="#">event 01</a></li>
														<li><a href="#">event 02</a></li>
														<li><a href="#">event detail</a></li>
														<li><a href="#">event listing</a></li>
													</ul>
												</li>
												<li><a href="#">news</a>
													<ul class="child">
														<li><a href="#">news page</a></li>
														<li><a href="#">news post</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li><a href="#">Contact Us</a></li>
									</ul>
								</div>
								<!--DL Menu Start-->
								<div id="kode-responsive-navigation1" class="dl-menuwrapper">
									<button class="dl-trigger">Open Menu</button>
									<ul class="dl-menu">
										<li><a class="active" href="#">Home</a></li>
										<li class="menu-item kode-parent-menu"><a href="#">Services</a>
											<ul class="dl-submenu">
												<li><a href="#">Services</a></li>
												<li><a href="#">Services 02</a></li>
												<li><a href="#">Services detail</a></li>
												<li><a href="#">Services detail 02</a></li>
											</ul>
										</li>
										<li class="menu-item kode-parent-menu"><a href="#">Government</a>
											<ul class="dl-submenu">
												<li><a href="#">team</a></li>
												<li><a href="#">mayor</a></li>
												<li><a href="#">goverment</a></li>
												<li><a href="#">goverment grid</a></li>
												<li><a href="#">health department</a></li>
												<li><a href="#">health department 02 </a></li>
											</ul>
										</li>
										<li class="menu-item kode-parent-menu"><a href="#">business</a>
											<ul class="dl-submenu">
												<li><a href="#">business</a></li>
												<li><a href="#">business detail</a></li>
											</ul>
										</li>
										<li class="menu-item kode-parent-menu"><a href="#">Resident</a>
											<ul class="dl-submenu">
												<li><a href="#">Resident</a></li>
												<li><a href="#">Resident detail</a></li>
											</ul>
										</li>
										<li class="menu-item kode-parent-menu"><a href="#">feature</a>
											<ul class="dl-submenu">
												<li><a href="#">blog</a>
													<ul class="dl-submenu">
														<li><a href="#">blog</a></li>
														<li><a href="#">blog list</a></li>
														<li><a href="#">blog detail</a></li>
													</ul>
												</li>
												<li><a href="#">forum</a>
													<ul class="dl-submenu">
														<li><a href="#">forum</a></li>
														<li><a href="#">forum 01</a></li>
														<li><a href="#">forum detail</a></li>
													</ul>
												</li>
												<li><a href="#">project</a>
													<ul class="dl-submenu">
														<li><a href="#">project</a></li>
														<li><a href="#">project 01</a></li>
														<li><a href="#">project detail</a></li>
													</ul>
												</li>
												<li><a href="#">login</a></li>
												<li><a href="#">404 page</a></li>
												<li><a href="#">coming soon</a></li>
											</ul>
										</li>
										<li class="menu-item kode-parent-menu"><a href="#">New & Event</a>
											<ul class="dl-submenu">
												<li><a href="#">event</a>
													<ul class="dl-submenu">
														<li><a href="#">event</a></li>
														<li><a href="#">event 01</a></li>
														<li><a href="#">event 02</a></li>
														<li><a href="#">event detail</a></li>
														<li><a href="#">event listing</a></li>
													</ul>
												</li>
												<li><a href="#">news</a>
													<ul class="dl-submenu">
														<li><a href="#">news page</a></li>
														<li><a href="#">news post</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li><a href="#">Contact Us</a></li>
									</ul>
								</div>
								<!--DL Menu END-->
							</div>
							<div class="col-md-3">
								<div class="city_top_form">
									<div class="city_top_search">
										<input type="text" placeholder="Rechercher">
										<a href="#"><i class="fa fa-search"></i></a>
									</div>
									<a class="top_user" href="#"><i class="fa fa-user"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--CITY TOP NAVIGATION END-->
			</header>
{% endblock %}

{% block banner %}

{% endblock %}


{% block central %}

{% endblock %}


{% block footer %}
	        <footer>
				<div class="widget_wrap overlay">
					<div class="container">
						<div class="row">
							<div class="col-md-3 col-sm-6">
								<div class="widget_list">
									<h4 class="widget_title">Find Us</h4>
									<div class="widget_text">
										<ul>
											<li><a href="#">2307 Beverley Rd</a></li>
											<li><a href="#">Brooklyn, New York 11226</a></li>
											<li><a href="#">United States.</a></li>
										</ul>
										<p>Open Monday to Saturday From 7h to 18h or talk to an expert 0712-0610-3314 – available 24/7</p>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-4 col-sm-6">
										<div class="widget_list">
											<h4 class="widget_title">Explore</h4>
											 <div class="widget_service">
												<ul>
													<li><a href="#">Online Services</a></li>
													<li><a href="#">Residents</a></li>
													<li><a href="#">Business</a></li>
													<li><a href="#">Government</a></li>
													<li><a href="#">Visiting</a></li>
													<li><a href="#">Employment</a></li>
												</ul>
											 </div>
										</div>
									</div>
									<div class="col-md-4 col-sm-6">
										<div class="widget_list">
											<h4 class="widget_title">Features</h4>
											 <div class="widget_service">
												<ul>
													<li><a href="#">Online Services</a></li>
													<li><a href="#">Residents</a></li>
													<li><a href="#">Business</a></li>
													<li><a href="#">Government</a></li>
													<li><a href="#">Visiting</a></li>
													<li><a href="#">Employment</a></li>
												</ul>
											 </div>
										</div>
									</div>
									<div class="col-md-4 col-sm-6">
										<div class="widget_list">
											<h4 class="widget_title">Services</h4>
											 <div class="widget_service">
												<ul>
													<li><a href="#">Online Services</a></li>
													<li><a href="#">Residents</a></li>
													<li><a href="#">Business</a></li>
													<li><a href="#">Government</a></li>
													<li><a href="#">Visiting</a></li>
													<li><a href="#">Employment</a></li>
												</ul>
											 </div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="widget_list">
									<h4 class="widget_title">For Appointment</h4>
									<div class="widget_text text2">
										<ul>
											<li><a href="#">Monday<span>08 am - 3 pm</span></a></li>
											<li><a href="#">Tusday <span>08 am - 3 pm</span></a></li>
											<li><a href="#">Wednesfay<span>08 am - 3 pm</span></a></li>
											<li><a href="#">Thursday<span>08 am - 3 pm</span></a></li>
											<li><a href="#">FFriday <span>08 am - 3 pm</span></a></li>
											<li><a href="#">Saturday - Sunday<span>Closed</span></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="widget_copyright">
								<div class="col-md-3 col-sm-6">
									<div class="widget_logo">
										<a href="#"><img src="" alt="Logo"></a>
									</div>
								</div>
								<div class="col-md-6">
									<div class="copyright_text">
										<p><span>Copyright © 2023 </span> KIMI SARL</p>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<div class="city_top_social">
										<ul>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
											<li><a href="#"><i class="fa fa-youtube"></i></a></li>
											<li><a href="#"><i class="fa fa-google"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>

{% endblock %}
         </div>
{% block script %}
 <!--Jquery Library-->
        <script src="{% static 'assets/js/jquery.js' %}"></script>
    	<!--Bootstrap core JavaScript-->
        <script src="{% static 'assets/js/bootstrap.js' %}"></script>
        <!--Slick Slider JavaScript-->
        <script src="{% static 'assets/js/slick.min.js' %}"></script>
        <!--Pretty Photo JavaScript-->
        <script src="{% static 'assets/js/jquery.prettyPhoto.js' %}"></script>
		<!--Pretty Photo JavaScript-->
        <script src="{% static 'assets/js/jquery.bxslider.min.js' %}"></script>
		<!--Pretty Photo JavaScript-->
        <script src="{% static 'assets/js/index.js' %}"></script>
		<!--Pretty Photo JavaScript-->
        <script src="{% static 'assets/js/modernizr.custom.js' %}"></script>
		<!--Pretty Photo JavaScript-->
        <script src="{% static 'assets/js/jquery.dlmenu.js' %}"></script>
		<!--Pretty Photo JavaScript-->
        <script src="{% static 'assets/js/downCount.js' %}"></script>
		<!--Counter up JavaScript-->
        <script src="{% static 'assets/js/waypoints.js' %}"></script>
		<!--Pretty Photo JavaScript-->
        <script src="{% static 'assets/js/waypoints-sticky.js' %}"></script>

        <!--Custom JavaScript-->
    	<script src="{% static 'assets/js/custom.js' %}"></script>
		<script>document.documentElement.className = 'js';</script>
</body>

</html>
{% endblock %}
